<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyi.business.core.dao.LedenCollectCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.zhouyi.business.core.model.LedenCollectCategory" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="COLLET_CATEGORY_NAME" property="colletCategoryName" jdbcType="VARCHAR" />
    <result column="PERSON_CATEGORY" property="personCategory" jdbcType="VARCHAR" />
    <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PK_ID, COLLET_CATEGORY_NAME, PERSON_CATEGORY, MENU_CODE, DELETE_FLAG, CREATE_USER_ID, 
    CREATE_DATETIME, UPDATE_USER_ID, UPDATE_DATETIME
  </sql>

  <sql id="BaseTable">
		LEDEN_COLLECT_CATEGORY
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LEDEN_COLLECT_CATEGORY
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>

  <resultMap id="CollectIncompleteResultMap" type="com.zhouyi.business.core.model.CollectIncomplete">
    <id column="ryjcxxcjbh" property="ryjcxxcjbh"/>
    <result column="COLLECT_CATEGORY_ID" property="collectCategoryId"/>
    <result column="collet_category_name" property="collectCategoryName"/>
    <result column="collect_status" property="collectStatus"/>
    <result column="xm" property="xm"/>
    <result column="gmsfhm" property="gmsfhm"/>
    <result column="cjrxm" property="cjrxm"/>
    <result column="csrq" property="csrq"/>
    <result column="ajlbdm" property="ajlbdm"/>
    <result column="cjdwmc" property="cjdwmc"/>
    <result column="SCHEDULE" property="schedule"/>
    <result column="cjsj" property="collectDate"/>
    <result column="status" property="collectStatus"/>
  </resultMap>

  <select id="selectCollectIncomplete" parameterType="com.zhouyi.business.core.vo.CollectIncompleteVo" resultMap="CollectIncompleteResultMap">
    select tt.* from
      (select rownum rn,t.* from
        (select * from LEDEN_COLLECT_PERSON p left join LEDEN_COLLECT_CATEGORY c on p.COLLECT_CATEGORY_ID = c.PK_ID left join SYS_DICT_LIST d on p.AJLBDM = d.code and d.sign = 'DICT_AJLB'
        <where>
          <if test="cjdwdm != null and cjdwdm != ''">
            and p.CJDWDM = #{cjdwdm}
          </if>
          <if test="collectCategoryId != null and collectCategoryId != ''">
            and p.COLLECT_CATEGORY_ID = #{collectCategoryId}
          </if>
          <if test="ryjcxxcjbh != null and ryjcxxcjbh != ''">
            and p.RYJCXXCJBH = #{ryjcxxcjbh}
          </if>
          <if test="xm != null and xm != ''">
            and p.XM = #{xm}
          </if>
          <if test="gmsfhm != null and gmsfhm != ''">
            and p.GMSFHM = #{gmsfhm}
          </if>
          <if test="cjrxm != null and cjrxm != ''">
            and p.CJRXM = #{cjrxm}
          </if>
          <if test="collectStatus != null and collectStatus != ''">
            and p.STATUS = #{collectStatus}
          </if>
        </where>
        order by p.CJSJ desc) t) tt
      where rn &gt;= #{startNo} and rn &lt; #{endNo}
    <!--select tt.* from
    (select rownum rn,t.* from
    (select * from
    (select a.pk_id,a.collet_category_name,d.collect_status,e.ryjcxxcjbh,e.xm,e.gmsfhm,e.cjrxm,e.csrq,e.ajlbdm,e.cjdwmc,d.collect_date from
         LEDEN_COLLECT_CATEGORY a,LEDEN_COLLECT_CATEGORY_NODE b,LEDEN_COLLECT_NODE c,LEDEN_COLLECT_PROCESS d,LEDEN_COLLECT_PERSON e
    where a.pk_id = b.category_id and c.node_code = b.node_code and c.node_code = d.collect_node_id and d.ryjcxxcjbh = e.ryjcxxcjbh)
    <where>
      <if test="pkId != null and pkId != ''">
        and pk_id = #{pkId}
      </if>
      <if test="collectCategoryName != null and collectCategoryName != ''">
        and collet_category_name = #{collectCategoryName}
      </if>
      <if test="collectStatus != null and collectStatus != ''">
        and collect_status = #{collectStatus}
      </if>
      <if test="ryjcxxcjbh != null and ryjcxxcjbh != ''">
        and ryjcxxcjbh = #{ryjcxxcjbh}
      </if>
      <if test="xm != null and xm != ''">
        and xm = #{xm}
      </if>
      <if test="gmsfhm != null and gmsfhm != ''">
        and gmsfhm = #{gmsfhm}
      </if>
      <if test="cjrxm != null and cjrxm != ''">
        and cjrxm = #{cjrxm}
      </if>
      <if test="csrq != null and csrq != ''">
        and csrq = #{csrq}
      </if>
      <if test="ajlbdm != null and ajlbdm != ''">
        and ajlbdm = #{ajlbdm}
      </if>
      <if test="cjdwmc != null and cjdwmc != ''">
        and cjdwmc = #{cjdwmc}
      </if>
      <if test="collectDate != null and collectDate != ''">
        and collect_date = #{collectDate}
      </if>
    </where>
    order by collect_date desc) t) tt
    where rn &gt;= #{startNo} and rn &lt; #{endNo}-->
  </select>

  <select id="selectCollectIncompleteCount" parameterType="com.zhouyi.business.core.vo.LedenCollectCategoryVo" resultType="int">
    select count(1) from LEDEN_COLLECT_PERSON p left join LEDEN_COLLECT_CATEGORY c on p.COLLECT_CATEGORY_ID = c.PK_ID left join SYS_DICT_LIST d on p.AJLBDM = d.code and d.sign = 'DICT_AJLB'
    <where>
      <if test="cjdwdm != null and cjdwdm != ''">
        and p.CJDWDM = #{cjdwdm}
      </if>
      <if test="collectCategoryId != null and collectCategoryId != ''">
        and p.COLLECT_CATEGORY_ID = #{collectCategoryId}
      </if>
      <if test="ryjcxxcjbh != null and ryjcxxcjbh != ''">
        and p.RYJCXXCJBH = #{ryjcxxcjbh}
      </if>
      <if test="xm != null and xm != ''">
        and p.XM = #{xm}
      </if>
      <if test="gmsfhm != null and gmsfhm != ''">
        and p.GMSFHM = #{gmsfhm}
      </if>
      <if test="cjrxm != null and cjrxm != ''">
        and p.CJRXM = #{cjrxm}
      </if>
      <if test="collectStatus != null and collectStatus != ''">
        and p.STATUS = #{collectStatus}
      </if>
    </where>
    <!--select count(1) from
    (select a.pk_id,a.collet_category_name,d.collect_status,e.ryjcxxcjbh,e.xm,e.gmsfhm,e.cjrxm,e.csrq,e.ajlbdm,e.cjdwmc,d.collect_date
    from
         LEDEN_COLLECT_CATEGORY a,LEDEN_COLLECT_CATEGORY_NODE b,LEDEN_COLLECT_NODE c,LEDEN_COLLECT_PROCESS d,LEDEN_COLLECT_PERSON e
    where a.pk_id = b.category_id and c.node_code = b.node_code and c.node_code = d.collect_node_id and d.ryjcxxcjbh = e.ryjcxxcjbh)
    <where>
      <if test="pkId != null and pkId != ''">
        and pk_id = #{pkId}
      </if>
      <if test="collectCategoryName != null and collectCategoryName != ''">
        and collet_category_name = #{collectCategoryName}
      </if>
      <if test="collectStatus != null and collectStatus != ''">
        and collect_status = #{collectStatus}
      </if>
      <if test="ryjcxxcjbh != null and ryjcxxcjbh != ''">
        and ryjcxxcjbh = #{ryjcxxcjbh}
      </if>
      <if test="xm != null and xm != ''">
        and xm = #{xm}
      </if>
      <if test="gmsfhm != null and gmsfhm != ''">
        and gmsfhm = #{gmsfhm}
      </if>
      <if test="cjrxm != null and cjrxm != ''">
        and cjrxm = #{cjrxm}
      </if>
      <if test="csrq != null and csrq != ''">
        and csrq = #{csrq}
      </if>
      <if test="ajlbdm != null and ajlbdm != ''">
        and ajlbdm = #{ajlbdm}
      </if>
      <if test="cjdwmc != null and cjdwmc != ''">
        and cjdwmc = #{cjdwmc}
      </if>
      <if test="collectDate != null and collectDate != ''">
        and collect_date = #{collectDate}
      </if>
    </where>-->
  </select>
  
  <select id="selectByModel" parameterType="com.zhouyi.business.core.vo.LedenCollectCategoryVo"
          resultMap="BaseResultMap">
    select tt.* from
    (select rownum rn,t.* from
    (select e.* from
    (select * from LEDEN_COLLECT_CATEGORY order by
    <if test="overName = null and overName = '' ">
      PK_ID
    </if>
    <if test="overName != null and overName != '' ">
      #{overName}
    </if>
    asc) e
    <where>
      <if test="colletCategoryName != null" >
        and COLLET_CATEGORY_NAME = #{colletCategoryName,jdbcType=VARCHAR}
      </if>
      <if test="personCategory != null" >
        and PERSON_CATEGORY = #{personCategory,jdbcType=VARCHAR}
      </if>
      <if test="menuCode != null" >
        and MENU_CODE = #{menuCode,jdbcType=VARCHAR}
      </if>
      <if test="deleteFlag != null" >
        and DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR}
      </if>
      <if test="createUserId != null" >
        and CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR}
      </if>
      <if test="createDatetime != null" >
        and CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUserId != null" >
        and UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
      </if>
      <if test="updateDatetime != null" >
        and UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
      </if>
    </where>
    ) t) tt
    where rn &gt;= #{startNo} and rn &lt; #{endNo}
  </select>

  <select id="findTotal" parameterType="com.zhouyi.business.core.vo.LedenCollectCategoryVo" resultType="int">
    select count(1) from LEDEN_COLLECT_CATEGORY
    <where>
      <if test="colletCategoryName != null" >
        and COLLET_CATEGORY_NAME = #{colletCategoryName,jdbcType=VARCHAR}
      </if>
      <if test="personCategory != null" >
        and PERSON_CATEGORY = #{personCategory,jdbcType=VARCHAR}
      </if>
      <if test="menuCode != null" >
        and MENU_CODE = #{menuCode,jdbcType=VARCHAR}
      </if>
      <if test="deleteFlag != null" >
        and DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR}
      </if>
      <if test="createUserId != null" >
        and CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR}
      </if>
      <if test="createDatetime != null" >
        and CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUserId != null" >
        and UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
      </if>
      <if test="updateDatetime != null" >
        and UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LEDEN_COLLECT_CATEGORY
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhouyi.business.core.model.LedenCollectCategory" >
    insert into LEDEN_COLLECT_CATEGORY (PK_ID, COLLET_CATEGORY_NAME, PERSON_CATEGORY,
      MENU_CODE, DELETE_FLAG, CREATE_USER_ID, 
      CREATE_DATETIME, UPDATE_USER_ID, UPDATE_DATETIME
      )
    values (#{pkId,jdbcType=VARCHAR}, #{colletCategoryName,jdbcType=VARCHAR}, #{personCategory,jdbcType=VARCHAR}, 
      #{menuCode,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhouyi.business.core.model.LedenCollectCategory" >
    insert into LEDEN_COLLECT_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="colletCategoryName != null" >
        COLLET_CATEGORY_NAME,
      </if>
      <if test="personCategory != null" >
        PERSON_CATEGORY,
      </if>
      <if test="menuCode != null" >
        MENU_CODE,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createDatetime != null" >
        CREATE_DATETIME,
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID,
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=VARCHAR},
      </if>
      <if test="colletCategoryName != null" >
        #{colletCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="personCategory != null" >
        #{personCategory,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null" >
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhouyi.business.core.model.LedenCollectCategory" >
    update LEDEN_COLLECT_CATEGORY
    <set >
      <if test="colletCategoryName != null" >
        COLLET_CATEGORY_NAME = #{colletCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="personCategory != null" >
        PERSON_CATEGORY = #{personCategory,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null" >
        MENU_CODE = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhouyi.business.core.model.LedenCollectCategory" >
    update LEDEN_COLLECT_CATEGORY
    set COLLET_CATEGORY_NAME = #{colletCategoryName,jdbcType=VARCHAR},
      PERSON_CATEGORY = #{personCategory,jdbcType=VARCHAR},
      MENU_CODE = #{menuCode,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
</mapper>