<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyi.business.core.dao.LedenCollectGCardMapper">
    <resultMap id="BaseResultMap" type="com.zhouyi.business.core.model.LedenCollectGCard">
        <id column="WPBH" property="wpbh" jdbcType="VARCHAR"/>
        <result column="KH" property="kh" jdbcType="VARCHAR"/>
        <result column="FKDW_GJHDQDM" property="fkdwGjhdqdm" jdbcType="VARCHAR"/>
        <result column="FKDW_DWMC" property="fkdwDwmc" jdbcType="VARCHAR"/>
        <result column="FKSJ_RQSJ" property="fksjRqsj" jdbcType="TIMESTAMP"/>
        <result column="YXQ_KSSJ" property="yxqKssj" jdbcType="TIMESTAMP"/>
        <result column="YXQ_JSSJ" property="yxqJssj" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    WPBH, KH, FKDW_GJHDQDM, FKDW_DWMC, FKSJ_RQSJ, YXQ_KSSJ, YXQ_JSSJ
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from LEDEN_COLLECT_G_CARD
        where WPBH = #{wpbh,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from LEDEN_COLLECT_G_CARD
    where WPBH = #{wpbh,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zhouyi.business.core.model.LedenCollectGCard">
    insert into LEDEN_COLLECT_G_CARD (WPBH, KH, FKDW_GJHDQDM,
      FKDW_DWMC, FKSJ_RQSJ, YXQ_KSSJ, 
      YXQ_JSSJ)
    values (#{wpbh,jdbcType=VARCHAR}, #{kh,jdbcType=VARCHAR}, #{fkdwGjhdqdm,jdbcType=VARCHAR}, 
      #{fkdwDwmc,jdbcType=VARCHAR}, #{fksjRqsj,jdbcType=TIMESTAMP}, #{yxqKssj,jdbcType=TIMESTAMP}, 
      #{yxqJssj,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.zhouyi.business.core.model.LedenCollectGCard">
        insert into LEDEN_COLLECT_G_CARD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wpbh != null">
                WPBH,
            </if>
            <if test="kh != null">
                KH,
            </if>
            <if test="fkdwGjhdqdm != null">
                FKDW_GJHDQDM,
            </if>
            <if test="fkdwDwmc != null">
                FKDW_DWMC,
            </if>
            <if test="fksjRqsj != null">
                FKSJ_RQSJ,
            </if>
            <if test="yxqKssj != null">
                YXQ_KSSJ,
            </if>
            <if test="yxqJssj != null">
                YXQ_JSSJ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wpbh != null">
                #{wpbh,jdbcType=VARCHAR},
            </if>
            <if test="kh != null">
                #{kh,jdbcType=VARCHAR},
            </if>
            <if test="fkdwGjhdqdm != null">
                #{fkdwGjhdqdm,jdbcType=VARCHAR},
            </if>
            <if test="fkdwDwmc != null">
                #{fkdwDwmc,jdbcType=VARCHAR},
            </if>
            <if test="fksjRqsj != null">
                #{fksjRqsj,jdbcType=TIMESTAMP},
            </if>
            <if test="yxqKssj != null">
                #{yxqKssj,jdbcType=TIMESTAMP},
            </if>
            <if test="yxqJssj != null">
                #{yxqJssj,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhouyi.business.core.model.LedenCollectGCard">
        update LEDEN_COLLECT_G_CARD
        <set>
            <if test="kh != null">
                KH = #{kh,jdbcType=VARCHAR},
            </if>
            <if test="fkdwGjhdqdm != null">
                FKDW_GJHDQDM = #{fkdwGjhdqdm,jdbcType=VARCHAR},
            </if>
            <if test="fkdwDwmc != null">
                FKDW_DWMC = #{fkdwDwmc,jdbcType=VARCHAR},
            </if>
            <if test="fksjRqsj != null">
                FKSJ_RQSJ = #{fksjRqsj,jdbcType=TIMESTAMP},
            </if>
            <if test="yxqKssj != null">
                YXQ_KSSJ = #{yxqKssj,jdbcType=TIMESTAMP},
            </if>
            <if test="yxqJssj != null">
                YXQ_JSSJ = #{yxqJssj,jdbcType=TIMESTAMP},
            </if>
        </set>
        where WPBH = #{wpbh,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhouyi.business.core.model.LedenCollectGCard">
    update LEDEN_COLLECT_G_CARD
    set KH = #{kh,jdbcType=VARCHAR},
      FKDW_GJHDQDM = #{fkdwGjhdqdm,jdbcType=VARCHAR},
      FKDW_DWMC = #{fkdwDwmc,jdbcType=VARCHAR},
      FKSJ_RQSJ = #{fksjRqsj,jdbcType=TIMESTAMP},
      YXQ_KSSJ = #{yxqKssj,jdbcType=TIMESTAMP},
      YXQ_JSSJ = #{yxqJssj,jdbcType=TIMESTAMP}
    where WPBH = #{wpbh,jdbcType=VARCHAR}
  </update>

    <select id="listDataByConditions" statementType="PREPARED" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM (
        SELECT ROWNUM AS rowno,LEDEN_COLLECT_G_CARD.*

        FROM LEDEN_COLLECT_G_CARD
        <where>
            <if test="start!=null">
                ROWNUM &lt;= #{end}
            </if>
            <if test="wpbh!=null">
                and wpbh=#{wpbh}
            </if>
        </where>
        ) collectGCard
        <where>
            <if test="start!=null">
                collectGCard.rowno &gt;= #{start}
            </if>
        </where>
    </select>

    <select id="getDataCountByConditions" statementType="PREPARED" resultType="int">
    select count(1) from LEDEN_COLLECT_G_CARD
  </select>


    <delete id="deleteCardByWpbh" parameterType="string">
        delete from LEDEN_COLLECT_G_CARD where wpbh=#{_parameter}
    </delete>
</mapper>