<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyi.business.core.dao.LedenCollectSgtzzcMapper" >
  <resultMap id="BaseResultMap" type="com.zhouyi.business.core.model.LedenCollectSgtzzc" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="RYJCXXCJBH" property="ryjcxxcjbh" jdbcType="VARCHAR" />
    <result column="SG" property="sg" jdbcType="VARCHAR" />
    <result column="TZ" property="tz" jdbcType="VARCHAR" />
    <result column="ZC" property="zc" jdbcType="VARCHAR" />
    <result column="DELETAG" property="deletag" jdbcType="VARCHAR" />
    <result column="ANNEX" property="annex" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PK_ID, RYJCXXCJBH, SG, TZ, ZC, DELETAG, ANNEX, CREATE_USER_ID, CREATE_DATETIME, UPDATE_USER_ID, 
    UPDATE_DATETIME
  </sql>

  <sql id="BaseTable">
		LEDEN_COLLECT_SGTZZC
  </sql>

  <select id="selectByModel" parameterType="com.zhouyi.business.core.vo.LedenCollectSgtzzcVo"
          resultMap="BaseResultMap">
    select tt.* from
    (select rownum rn,t.* from
    (select e.* from
    (select * from LEDEN_COLLECT_SGTZZC order by
    <if test="overName = null and overName = '' ">
      PK_ID
    </if>
    <if test="overName != null and overName != '' ">
      #{overName}
    </if>
    asc) e
    <where>
      <if test="ryjcxxcjbh != null" >
        and RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR}
      </if>
      <if test="sg != null" >
        and SG = #{sg,jdbcType=VARCHAR}
      </if>
      <if test="tz != null" >
        and TZ = #{tz,jdbcType=VARCHAR}
      </if>
      <if test="zc != null" >
        and ZC = #{zc,jdbcType=VARCHAR}
      </if>
      <if test="deletag != null" >
        and DELETAG = #{deletag,jdbcType=VARCHAR}
      </if>
      <if test="annex != null" >
        and ANNEX = #{annex,jdbcType=VARCHAR}
      </if>
      <if test="createUserId != null" >
        and CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR}
      </if>
      <if test="createDatetime != null" >
        and CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUserId != null" >
        and UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
      </if>
      <if test="updateDatetime != null" >
        and UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
      </if>
    </where>
    ) t) tt
    where rn &gt;= #{startNo} and rn &lt; #{endNo}
  </select>

  <select id="findTotal" parameterType="com.zhouyi.business.core.vo.LedenCollectSgtzzcVo" resultType="int">
    select count(1) from LEDEN_COLLECT_SGTZZC
    <where>
      <if test="ryjcxxcjbh != null" >
        and RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR}
      </if>
      <if test="sg != null" >
        and SG = #{sg,jdbcType=VARCHAR}
      </if>
      <if test="tz != null" >
        and TZ = #{tz,jdbcType=VARCHAR}
      </if>
      <if test="zc != null" >
        and ZC = #{zc,jdbcType=VARCHAR}
      </if>
      <if test="deletag != null" >
        and DELETAG = #{deletag,jdbcType=VARCHAR}
      </if>
      <if test="annex != null" >
        and ANNEX = #{annex,jdbcType=VARCHAR}
      </if>
      <if test="createUserId != null" >
        and CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR}
      </if>
      <if test="createDatetime != null" >
        and CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUserId != null" >
        and UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
      </if>
      <if test="updateDatetime != null" >
        and UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LEDEN_COLLECT_SGTZZC
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LEDEN_COLLECT_SGTZZC
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhouyi.business.core.model.LedenCollectSgtzzc" >
    insert into LEDEN_COLLECT_SGTZZC (PK_ID, RYJCXXCJBH, SG,
      TZ, ZC, DELETAG, ANNEX, 
      CREATE_USER_ID, CREATE_DATETIME, UPDATE_USER_ID, 
      UPDATE_DATETIME)
    values (leden_collect_sgtzzc_sequence.nextval, #{ryjcxxcjbh,jdbcType=VARCHAR}, #{sg,jdbcType=VARCHAR},
      #{tz,jdbcType=VARCHAR}, #{zc,jdbcType=VARCHAR}, #{deletag,jdbcType=VARCHAR}, #{annex,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhouyi.business.core.model.LedenCollectSgtzzc" >
    insert into LEDEN_COLLECT_SGTZZC
    <trim prefix="(" suffix=")" suffixOverrides="," >
        PK_ID,
      <if test="ryjcxxcjbh != null" >
        RYJCXXCJBH,
      </if>
      <if test="sg != null" >
        SG,
      </if>
      <if test="tz != null" >
        TZ,
      </if>
      <if test="zc != null" >
        ZC,
      </if>
      <if test="deletag != null" >
        DELETAG,
      </if>
      <if test="annex != null" >
        ANNEX,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createDatetime != null" >
        CREATE_DATETIME,
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID,
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      leden_collect_sgtzzc_sequence.nextval,
      <if test="ryjcxxcjbh != null" >
        #{ryjcxxcjbh,jdbcType=VARCHAR},
      </if>
      <if test="sg != null" >
        #{sg,jdbcType=VARCHAR},
      </if>
      <if test="tz != null" >
        #{tz,jdbcType=VARCHAR},
      </if>
      <if test="zc != null" >
        #{zc,jdbcType=VARCHAR},
      </if>
      <if test="deletag != null" >
        #{deletag,jdbcType=VARCHAR},
      </if>
      <if test="annex != null" >
        #{annex,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhouyi.business.core.model.LedenCollectSgtzzc" >
    update LEDEN_COLLECT_SGTZZC
    <set >
      <if test="ryjcxxcjbh != null" >
        RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
      </if>
      <if test="sg != null" >
        SG = #{sg,jdbcType=VARCHAR},
      </if>
      <if test="tz != null" >
        TZ = #{tz,jdbcType=VARCHAR},
      </if>
      <if test="zc != null" >
        ZC = #{zc,jdbcType=VARCHAR},
      </if>
      <if test="deletag != null" >
        DELETAG = #{deletag,jdbcType=VARCHAR},
      </if>
      <if test="annex != null" >
        ANNEX = #{annex,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhouyi.business.core.model.LedenCollectSgtzzc" >
    update LEDEN_COLLECT_SGTZZC
    set RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
      SG = #{sg,jdbcType=VARCHAR},
      TZ = #{tz,jdbcType=VARCHAR},
      ZC = #{zc,jdbcType=VARCHAR},
      DELETAG = #{deletag,jdbcType=VARCHAR},
      ANNEX = #{annex,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <delete id="deleteSgtzzcByPersonId" parameterType="string">
    delete from  LEDEN_COLLECT_SGTZZC where ryjcxxcjbh=#{_parameter}
  </delete>
</mapper>