<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyi.business.core.dao.LedenCollectPalmMapper">
    <resultMap id="BaseResultMap" type="com.zhouyi.business.core.model.LedenCollectPalm">
        <id column="PK_ID" property="pkId" jdbcType="VARCHAR"/>
        <result column="RYJCXXCJBH" property="ryjcxxcjbh" jdbcType="VARCHAR"/>
        <result column="ZHWZHWDM" property="zhwzhwdm" jdbcType="VARCHAR"/>
        <result column="ZHW_ZZHWQSQKDM" property="zhwZzhwqsqkdm" jdbcType="VARCHAR"/>
        <result column="ZHW_TXYSFSMS" property="zhwTxysfsms" jdbcType="VARCHAR"/>
        <result column="ZHW_TXZL" property="zhwTxzl" jdbcType="VARCHAR"/>
        <result column="DELETAG" property="deletag" jdbcType="VARCHAR"/>
        <result column="ANNEX" property="annex" jdbcType="VARCHAR"/>
        <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR"/>
        <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.zhouyi.business.core.model.LedenCollectPalm" extends="BaseResultMap">
        <result column="ZHW_TXSJ" property="zhwTxsj" jdbcType="BLOB"/>
    </resultMap>
    <sql id="Base_Column_List">
    PK_ID, RYJCXXCJBH, ZHWZHWDM, ZHW_ZZHWQSQKDM, ZHW_TXYSFSMS, ZHW_TXZL, DELETAG, ANNEX, 
    CREATE_USER_ID, CREATE_DATETIME, UPDATE_USER_ID, UPDATE_DATETIME
  </sql>
    <sql id="Blob_Column_List">
    ZHW_TXSJ
  </sql>

    <sql id="BaseTable">
		LEDEN_COLLECT_PALM
  </sql>

    <select id="selectPalmFingerByPersonCode" parameterType="string" resultMap="ResultMapWithBLOBs">
    select p.*,d1.name zwwz,d2.name zwqsqk from leden_collect_palm p
      left join sys_dict_list d1 on p.zhwzhwdm = d1.code and d1.sign = 'DICT_ZHZHWWZ'
      left join sys_dict_list d2 on p.zhw_zzhwqsqkdm = d2.code and d2.sign = 'DICT_ZHZHWQSH'
    where RYJCXXCJBH = #{id}
  </select>

    <select id="selectByModel" parameterType="com.zhouyi.business.core.vo.LedenCollectPalmVo"
            resultMap="BaseResultMap">
        select tt.* from
        (select rownum rn,t.* from
        (select e.* from
        (select * from LEDEN_COLLECT_PALM order by
        <if test="overName != null and overName != ''">
            #{overName}
        </if>
        <if test="overName = null and overName = ''">
            UPDATE_DATETIME
        </if>
        desc) e
        <where>
            <if test="ryjcxxcjbh != null">
                and RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR}
            </if>
            <if test="zhwzhwdm != null">
                and ZHWZHWDM = #{zhwzhwdm,jdbcType=VARCHAR}
            </if>
            <if test="zhwZzhwqsqkdm != null">
                and ZHW_ZZHWQSQKDM = #{zhwZzhwqsqkdm,jdbcType=VARCHAR}
            </if>
            <if test="zhwTxysfsms != null">
                and ZHW_TXYSFSMS = #{zhwTxysfsms,jdbcType=VARCHAR}
            </if>
            <if test="zhwTxzl != null">
                and ZHW_TXZL = #{zhwTxzl,jdbcType=VARCHAR}
            </if>
            <if test="deletag != null">
                and DELETAG = #{deletag,jdbcType=VARCHAR}
            </if>
            <if test="annex != null">
                and ANNEX = #{annex,jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null">
                and CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR}
            </if>
            <if test="createDatetime != null">
                and CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null">
                and UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
            </if>
            <if test="updateDatetime != null">
                and UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="zhwTxsj != null">
                and ZHW_TXSJ = #{zhwTxsj,jdbcType=BLOB}
            </if>
        </where>
        ) t) tt
        where rn &gt;= #{startNo} and rn &lt; #{endNo}
    </select>

    <select id="findTotal" parameterType="com.zhouyi.business.core.vo.LedenCollectPalmVo"
            resultType="int">
        select count(1) from LEDEN_COLLECT_PALM
        <where>
            <if test="ryjcxxcjbh != null">
                and RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR}
            </if>
            <if test="zhwzhwdm != null">
                and ZHWZHWDM = #{zhwzhwdm,jdbcType=VARCHAR}
            </if>
            <if test="zhwZzhwqsqkdm != null">
                and ZHW_ZZHWQSQKDM = #{zhwZzhwqsqkdm,jdbcType=VARCHAR}
            </if>
            <if test="zhwTxysfsms != null">
                and ZHW_TXYSFSMS = #{zhwTxysfsms,jdbcType=VARCHAR}
            </if>
            <if test="zhwTxzl != null">
                and ZHW_TXZL = #{zhwTxzl,jdbcType=VARCHAR}
            </if>
            <if test="deletag != null">
                and DELETAG = #{deletag,jdbcType=VARCHAR}
            </if>
            <if test="annex != null">
                and ANNEX = #{annex,jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null">
                and CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR}
            </if>
            <if test="createDatetime != null">
                and CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null">
                and UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
            </if>
            <if test="updateDatetime != null">
                and UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="zhwTxsj != null">
                and ZHW_TXSJ = #{zhwTxsj,jdbcType=BLOB}
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from LEDEN_COLLECT_PALM
        where PK_ID = #{pkId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from LEDEN_COLLECT_PALM
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zhouyi.business.core.model.LedenCollectPalm">
    insert into LEDEN_COLLECT_PALM (PK_ID, RYJCXXCJBH, ZHWZHWDM,
      ZHW_ZZHWQSQKDM, ZHW_TXYSFSMS, ZHW_TXZL, 
      DELETAG, ANNEX, CREATE_USER_ID, 
      CREATE_DATETIME, UPDATE_USER_ID, UPDATE_DATETIME, 
      ZHW_TXSJ)
    values (#{pkId,jdbcType=VARCHAR}, #{ryjcxxcjbh,jdbcType=VARCHAR}, #{zhwzhwdm,jdbcType=VARCHAR},
      #{zhwZzhwqsqkdm,jdbcType=VARCHAR}, #{zhwTxysfsms,jdbcType=VARCHAR}, #{zhwTxzl,jdbcType=VARCHAR},
      #{deletag,jdbcType=VARCHAR}, #{annex,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR},
      #{createDatetime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=TIMESTAMP}, 
      #{zhwTxsj,jdbcType=BLOB})
  </insert>
    <insert id="insertSelective" parameterType="com.zhouyi.business.core.model.LedenCollectPalm">
        insert into LEDEN_COLLECT_PALM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkId != null">
                PK_ID,
            </if>
            <if test="ryjcxxcjbh != null">
                RYJCXXCJBH,
            </if>
            <if test="zhwzhwdm != null">
                ZHWZHWDM,
            </if>
            <if test="zhwZzhwqsqkdm != null">
                ZHW_ZZHWQSQKDM,
            </if>
            <if test="zhwTxysfsms != null">
                ZHW_TXYSFSMS,
            </if>
            <if test="zhwTxzl != null">
                ZHW_TXZL,
            </if>
            <if test="deletag != null">
                DELETAG,
            </if>
            <if test="annex != null">
                ANNEX,
            </if>
            <if test="createUserId != null">
                CREATE_USER_ID,
            </if>
            <if test="createDatetime != null">
                CREATE_DATETIME,
            </if>
            <if test="updateUserId != null">
                UPDATE_USER_ID,
            </if>
            <if test="updateDatetime != null">
                UPDATE_DATETIME,
            </if>
            <if test="zhwTxsj != null">
                ZHW_TXSJ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkId != null">
                #{pkId,jdbcType=VARCHAR},
            </if>
            <if test="ryjcxxcjbh != null">
                #{ryjcxxcjbh,jdbcType=VARCHAR},
            </if>
            <if test="zhwzhwdm != null">
                #{zhwzhwdm,jdbcType=VARCHAR},
            </if>
            <if test="zhwZzhwqsqkdm != null">
                #{zhwZzhwqsqkdm,jdbcType=VARCHAR},
            </if>
            <if test="zhwTxysfsms != null">
                #{zhwTxysfsms,jdbcType=VARCHAR},
            </if>
            <if test="zhwTxzl != null">
                #{zhwTxzl,jdbcType=VARCHAR},
            </if>
            <if test="deletag != null">
                #{deletag,jdbcType=VARCHAR},
            </if>
            <if test="annex != null">
                #{annex,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createDatetime != null">
                #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateDatetime != null">
                #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="zhwTxsj != null">
                #{zhwTxsj,jdbcType=BLOB},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhouyi.business.core.model.LedenCollectPalm">
        update LEDEN_COLLECT_PALM
        <set>
            <if test="ryjcxxcjbh != null">
                RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
            </if>
            <if test="zhwzhwdm != null">
                ZHWZHWDM = #{zhwzhwdm,jdbcType=VARCHAR},
            </if>
            <if test="zhwZzhwqsqkdm != null">
                ZHW_ZZHWQSQKDM = #{zhwZzhwqsqkdm,jdbcType=VARCHAR},
            </if>
            <if test="zhwTxysfsms != null">
                ZHW_TXYSFSMS = #{zhwTxysfsms,jdbcType=VARCHAR},
            </if>
            <if test="zhwTxzl != null">
                ZHW_TXZL = #{zhwTxzl,jdbcType=VARCHAR},
            </if>
            <if test="deletag != null">
                DELETAG = #{deletag,jdbcType=VARCHAR},
            </if>
            <if test="annex != null">
                ANNEX = #{annex,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createDatetime != null">
                CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateDatetime != null">
                UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="zhwTxsj != null">
                ZHW_TXSJ = #{zhwTxsj,jdbcType=BLOB},
            </if>
        </set>
        where PK_ID = #{pkId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhouyi.business.core.model.LedenCollectPalm">
    update LEDEN_COLLECT_PALM
    set RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
      ZHWZHWDM = #{zhwzhwdm,jdbcType=VARCHAR},
      ZHW_ZZHWQSQKDM = #{zhwZzhwqsqkdm,jdbcType=VARCHAR},
      ZHW_TXYSFSMS = #{zhwTxysfsms,jdbcType=VARCHAR},
      ZHW_TXZL = #{zhwTxzl,jdbcType=VARCHAR},
      DELETAG = #{deletag,jdbcType=VARCHAR},
      ANNEX = #{annex,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
      ZHW_TXSJ = #{zhwTxsj,jdbcType=BLOB}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.zhouyi.business.core.model.LedenCollectPalm">
    update LEDEN_COLLECT_PALM
    set RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
      ZHWZHWDM = #{zhwzhwdm,jdbcType=VARCHAR},
      ZHW_ZZHWQSQKDM = #{zhwZzhwqsqkdm,jdbcType=VARCHAR},
      ZHW_TXYSFSMS = #{zhwTxysfsms,jdbcType=VARCHAR},
      ZHW_TXZL = #{zhwTxzl,jdbcType=VARCHAR},
      DELETAG = #{deletag,jdbcType=VARCHAR},
      ANNEX = #{annex,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>


    <delete id="deletePalmByPersonId" parameterType="string">
    delete from LEDEN_COLLECT_PALM where ryjcxxcjbh=#{personCode}
        <if test="compressionAlgorithm=='0000'" >
            and ZHW_TXYSFSMS='0000'
        </if>
        <if test="compressionAlgorithm!='0000'">
            and ZHW_TXYSFSMS!='0000'
        </if>
  </delete>


    <insert id="insertBatch" statementType="PREPARED" parameterType="list">
        begin
        <foreach collection="list" item="item" separator=";">
            insert into LEDEN_COLLECT_PALM (PK_ID, RYJCXXCJBH, ZHWZHWDM,
            ZHW_ZZHWQSQKDM, ZHW_TXYSFSMS, ZHW_TXZL,
            DELETAG, ANNEX, CREATE_USER_ID,
            CREATE_DATETIME, UPDATE_USER_ID, UPDATE_DATETIME,
            ZHW_TXSJ)
            values
            (#{item.pkId,jdbcType=VARCHAR}, #{item.ryjcxxcjbh,jdbcType=VARCHAR}, #{item.zhwzhwdm,jdbcType=VARCHAR},
            #{item.zhwZzhwqsqkdm,jdbcType=VARCHAR}, #{item.zhwTxysfsms,jdbcType=VARCHAR}, #{item.zhwTxzl,jdbcType=VARCHAR},
            #{item.deletag,jdbcType=VARCHAR}, #{item.annex,jdbcType=VARCHAR}, #{item.createUserId,jdbcType=VARCHAR},
            #{item.createDatetime,jdbcType=TIMESTAMP}, #{item.updateUserId,jdbcType=VARCHAR},
            #{item.updateDatetime,jdbcType=TIMESTAMP},
            #{item.zhwTxsj,jdbcType=BLOB})

        </foreach>
        ;end;
    </insert>


    <select id="listPalmByConditions" resultMap="ResultMapWithBLOBs">
        select * from leden_collect_palm
        <where>
            <if test="personCode!=null">
                and ryjcxxcjbh=#{personCode}
            </if>
        </where>
    </select>
</mapper>