<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyi.business.core.dao.LedenCollectFourfingerMapper">
    <resultMap id="BaseResultMap" type="com.zhouyi.business.core.model.LedenCollectFourfinger">
        <id column="PK_ID" property="pkId" jdbcType="VARCHAR"/>
        <result column="RYJCXXCJBH" property="ryjcxxcjbh" jdbcType="VARCHAR"/>
        <result column="SLZ_ZWZWDM" property="slzZwzwdm" jdbcType="VARCHAR"/>
        <result column="SLZ_ZZHWQSQKDM" property="slzZzhwqsqkdm" jdbcType="VARCHAR"/>
        <result column="SLZ_TXYSFSMS" property="slzTxyaffms" jdbcType="VARCHAR"/>
        <result column="SLZ_TXZL" property="slzTxzl" jdbcType="VARCHAR"/>
        <result column="DELETAG" property="deletag" jdbcType="VARCHAR"/>
        <result column="ANNEX" property="annex" jdbcType="VARCHAR"/>
        <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR"/>
        <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.zhouyi.business.core.model.LedenCollectFourfinger"
               extends="BaseResultMap">
        <result column="SLZ_TXSJ" property="slzTxsj" jdbcType="BLOB"/>
    </resultMap>
    <sql id="Base_Column_List">
    PK_ID, RYJCXXCJBH, SLZ_ZWZWDM, SLZ_ZZHWQSQKDM, SLZ_TXYSFSMS, SLZ_TXZL, DELETAG, ANNEX, 
    CREATE_USER_ID, CREATE_DATETIME, UPDATE_USER_ID, UPDATE_DATETIME
  </sql>
    <sql id="Blob_Column_List">
    SLZ_TXSJ
  </sql>

    <sql id="BaseTable">
		LEDEN_COLLECT_FOURFINGER
  </sql>

    <select id="selectFourFingerByPersonCode" parameterType="string" resultMap="ResultMapWithBLOBs">
    select p.*,d1.name zwwz,d2.name zwqsqk from LEDEN_COLLECT_FOURFINGER p
      left join sys_dict_list d1 on p.SLZ_ZWZWDM = d1.code and d1.sign = 'DICT_ZHZHWWZ'
      left join sys_dict_list d2 on p.SLZ_ZZHWQSQKDM = d2.code and d2.sign = 'DICT_ZHZHWQSH'
    where RYJCXXCJBH = #{id} and SLZ_TXYSFSMS = '0000'
  </select>

    <select id="selectByModel" parameterType="com.zhouyi.business.core.vo.LedenCollectFourfingerVo"
            resultMap="BaseResultMap">
        select tt.* from
        (select rownum rn,t.* from
        (select e.* from
        (select * from LEDEN_COLLECT_FOURFINGER order by
        <if test="overName != null and overName != ''">
            #{overName}
        </if>
        <if test="overName = null and overName = ''">
            UPDATE_DATETIME
        </if>
        desc) e
        <where>
            <if test="ryjcxxcjbh != null">
                and RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR}
            </if>
            <if test="slzZwzwdm != null">
                and SLZ_ZWZWDM = #{slzZwzwdm,jdbcType=VARCHAR}
            </if>
            <if test="slzZzhwqsqkdm != null">
                and SLZ_ZZHWQSQKDM = #{slzZzhwqsqkdm,jdbcType=VARCHAR}
            </if>
            <if test="slzTxyaffms != null">
                and SLZ_TXYSFSMS = #{slzTxyaffms,jdbcType=VARCHAR}
            </if>
            <if test="slzTxzl != null">
                and SLZ_TXZL = #{slzTxzl,jdbcType=VARCHAR}
            </if>
            <if test="deletag != null">
                and DELETAG = #{deletag,jdbcType=VARCHAR}
            </if>
            <if test="annex != null">
                and ANNEX = #{annex,jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null">
                and CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR}
            </if>
            <if test="createDatetime != null">
                and CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null">
                and UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
            </if>
            <if test="updateDatetime != null">
                and UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="slzTxsj != null">
                and SLZ_TXSJ = #{slzTxsj,jdbcType=BLOB}
            </if>
        </where>
        ) t) tt
        where rn &gt;= #{startNo} and rn &lt; #{endNo}
    </select>

    <select id="findTotal" parameterType="com.zhouyi.business.core.vo.LedenCollectFourfingerVo"
            resultType="int">
        select count(1) from LEDEN_COLLECT_FOURFINGER
        <where>
            <if test="ryjcxxcjbh != null">
                and RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR}
            </if>
            <if test="slzZwzwdm != null">
                and SLZ_ZWZWDM = #{slzZwzwdm,jdbcType=VARCHAR}
            </if>
            <if test="slzZzhwqsqkdm != null">
                and SLZ_ZZHWQSQKDM = #{slzZzhwqsqkdm,jdbcType=VARCHAR}
            </if>
            <if test="slzTxyaffms != null">
                and SLZ_TXYSFSMS = #{slzTxyaffms,jdbcType=VARCHAR}
            </if>
            <if test="slzTxzl != null">
                and SLZ_TXZL = #{slzTxzl,jdbcType=VARCHAR}
            </if>
            <if test="deletag != null">
                and DELETAG = #{deletag,jdbcType=VARCHAR}
            </if>
            <if test="annex != null">
                and ANNEX = #{annex,jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null">
                and CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR}
            </if>
            <if test="createDatetime != null">
                and CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null">
                and UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR}
            </if>
            <if test="updateDatetime != null">
                and UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="slzTxsj != null">
                and SLZ_TXSJ = #{slzTxsj,jdbcType=BLOB}
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from LEDEN_COLLECT_FOURFINGER
        where PK_ID = #{pkId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from LEDEN_COLLECT_FOURFINGER
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>


    <insert id="insert" parameterType="com.zhouyi.business.core.model.LedenCollectFourfinger">
    insert into LEDEN_COLLECT_FOURFINGER (PK_ID, RYJCXXCJBH, SLZ_ZWZWDM,
      SLZ_ZZHWQSQKDM, SLZ_TXYSFSMS, SLZ_TXZL, 
      DELETAG, ANNEX, CREATE_USER_ID, 
      CREATE_DATETIME, UPDATE_USER_ID, UPDATE_DATETIME, 
      SLZ_TXSJ)
    values (#{pkId,jdbcType=VARCHAR}, #{ryjcxxcjbh,jdbcType=VARCHAR}, #{slzZwzwdm,jdbcType=VARCHAR}, 
      #{slzZzhwqsqkdm,jdbcType=VARCHAR}, #{slzTxyaffms,jdbcType=VARCHAR}, #{slzTxzl,jdbcType=VARCHAR},
      #{deletag,jdbcType=VARCHAR}, #{annex,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=TIMESTAMP}, 
      #{slzTxsj,jdbcType=BLOB})
  </insert>
    <insert id="insertSelective" parameterType="com.zhouyi.business.core.model.LedenCollectFourfinger">
        insert into LEDEN_COLLECT_FOURFINGER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkId != null">
                PK_ID,
            </if>
            <if test="ryjcxxcjbh != null">
                RYJCXXCJBH,
            </if>
            <if test="slzZwzwdm != null">
                SLZ_ZWZWDM,
            </if>
            <if test="slzZzhwqsqkdm != null">
                SLZ_ZZHWQSQKDM,
            </if>
            <if test="slzTxyaffms != null">
                SLZ_TXYSFSMS,
            </if>
            <if test="slzTxzl != null">
                SLZ_TXZL,
            </if>
            <if test="deletag != null">
                DELETAG,
            </if>
            <if test="annex != null">
                ANNEX,
            </if>
            <if test="createUserId != null">
                CREATE_USER_ID,
            </if>
            <if test="createDatetime != null">
                CREATE_DATETIME,
            </if>
            <if test="updateUserId != null">
                UPDATE_USER_ID,
            </if>
            <if test="updateDatetime != null">
                UPDATE_DATETIME,
            </if>
            <if test="slzTxsj != null">
                SLZ_TXSJ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkId != null">
                #{pkId,jdbcType=VARCHAR},
            </if>
            <if test="ryjcxxcjbh != null">
                #{ryjcxxcjbh,jdbcType=VARCHAR},
            </if>
            <if test="slzZwzwdm != null">
                #{slzZwzwdm,jdbcType=VARCHAR},
            </if>
            <if test="slzZzhwqsqkdm != null">
                #{slzZzhwqsqkdm,jdbcType=VARCHAR},
            </if>
            <if test="slzTxyaffms != null">
                #{slzTxyaffms,jdbcType=VARCHAR},
            </if>
            <if test="slzTxzl != null">
                #{slzTxzl,jdbcType=VARCHAR},
            </if>
            <if test="deletag != null">
                #{deletag,jdbcType=VARCHAR},
            </if>
            <if test="annex != null">
                #{annex,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createDatetime != null">
                #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateDatetime != null">
                #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="slzTxsj != null">
                #{slzTxsj,jdbcType=BLOB},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhouyi.business.core.model.LedenCollectFourfinger">
        update LEDEN_COLLECT_FOURFINGER
        <set>
            <if test="ryjcxxcjbh != null">
                RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
            </if>
            <if test="slzZwzwdm != null">
                SLZ_ZWZWDM = #{slzZwzwdm,jdbcType=VARCHAR},
            </if>
            <if test="slzZzhwqsqkdm != null">
                SLZ_ZZHWQSQKDM = #{slzZzhwqsqkdm,jdbcType=VARCHAR},
            </if>
            <if test="slzTxyaffms != null">
                SLZ_TXYSFSMS = #{slzTxyaffms,jdbcType=VARCHAR},
            </if>
            <if test="slzTxzl != null">
                SLZ_TXZL = #{slzTxzl,jdbcType=VARCHAR},
            </if>
            <if test="deletag != null">
                DELETAG = #{deletag,jdbcType=VARCHAR},
            </if>
            <if test="annex != null">
                ANNEX = #{annex,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createDatetime != null">
                CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateDatetime != null">
                UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="slzTxsj != null">
                SLZ_TXSJ = #{slzTxsj,jdbcType=BLOB},
            </if>
        </set>
        where PK_ID = #{pkId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhouyi.business.core.model.LedenCollectFourfinger">
    update LEDEN_COLLECT_FOURFINGER
    set RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
      SLZ_ZWZWDM = #{slzZwzwdm,jdbcType=VARCHAR},
      SLZ_ZZHWQSQKDM = #{slzZzhwqsqkdm,jdbcType=VARCHAR},
      SLZ_TXYSFSMS = #{slzTxyaffms,jdbcType=VARCHAR},
      SLZ_TXZL = #{slzTxzl,jdbcType=VARCHAR},
      DELETAG = #{deletag,jdbcType=VARCHAR},
      ANNEX = #{annex,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
      SLZ_TXSJ = #{slzTxsj,jdbcType=BLOB}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.zhouyi.business.core.model.LedenCollectFourfinger">
    update LEDEN_COLLECT_FOURFINGER
    set RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
      SLZ_ZWZWDM = #{slzZwzwdm,jdbcType=VARCHAR},
      SLZ_ZZHWQSQKDM = #{slzZzhwqsqkdm,jdbcType=VARCHAR},
      SLZ_TXYSFSMS = #{slzTxyaffms,jdbcType=VARCHAR},
      SLZ_TXZL = #{slzTxzl,jdbcType=VARCHAR},
      DELETAG = #{deletag,jdbcType=VARCHAR},
      ANNEX = #{annex,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_DATETIME = #{createDatetime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>

    <delete id="deleteFourFingerByPersonId" parameterType="string">
   delete from  LEDEN_COLLECT_FOURFINGER where ryjcxxcjbh=#{personCode}
        <if test="compressionAlgorithm=='0000'" >
            and SLZ_TXYSFSMS='0000'
        </if>
        <if test="compressionAlgorithm!='0000'">
            and SLZ_TXYSFSMS!='0000'
        </if>
  </delete>


    <insert id="insertBatch" parameterType="list" statementType="PREPARED">
        begin
        <foreach collection="list" item="item" separator=";">
            insert into LEDEN_COLLECT_FOURFINGER (PK_ID, RYJCXXCJBH, SLZ_ZWZWDM,
            SLZ_ZZHWQSQKDM, SLZ_TXYSFSMS, SLZ_TXZL,
            DELETAG, ANNEX, CREATE_USER_ID,
            CREATE_DATETIME, UPDATE_USER_ID, UPDATE_DATETIME,
            SLZ_TXSJ)
            values(
            #{item.pkId,jdbcType=VARCHAR}, #{item.ryjcxxcjbh,jdbcType=VARCHAR}, #{item.slzZwzwdm,jdbcType=VARCHAR},
            #{item.slzZzhwqsqkdm,jdbcType=VARCHAR}, #{item.slzTxyaffms,jdbcType=VARCHAR}, #{item.slzTxzl,jdbcType=VARCHAR},
            #{item.deletag,jdbcType=VARCHAR}, #{item.annex,jdbcType=VARCHAR}, #{item.createUserId,jdbcType=VARCHAR},
            #{item.createDatetime,jdbcType=TIMESTAMP}, #{item.updateUserId,jdbcType=VARCHAR},
            #{item.updateDatetime,jdbcType=TIMESTAMP},
            #{item.slzTxsj,jdbcType=BLOB}
            )
        </foreach>
        ;end;
    </insert>
</mapper>