<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyi.business.core.dao.LedenUploadLogMapper">
    <resultMap id="BaseResultMap" type="com.zhouyi.business.core.model.LedenUploadLog">
        <id column="PK_ID" property="pkId" jdbcType="VARCHAR"/>
        <result column="EQUIPMENT_ID" property="equipmentId" jdbcType="VARCHAR"/>
        <result column="NODE_SIGN" property="nodeSign" jdbcType="VARCHAR"/>
        <result column="IS_EMPOWER" property="isEmpower" jdbcType="VARCHAR"/>
        <result column="UPLOAD_IP" property="uploadIp" jdbcType="VARCHAR"/>
        <result column="RYJCXXCJBH" property="ryjcxxcjbh" jdbcType="VARCHAR"/>
        <result column="UPLOAD_STATUS" property="uploadStatus" jdbcType="VARCHAR"/>
        <result column="UPLOAD_RESULT_INFO" property="uploadResultInfo" jdbcType="VARCHAR"/>
        <result column="UPLOAD_DATETIME" property="uploadDatetime" jdbcType="TIMESTAMP"/>
        <result column="RESOVLE_DATETIME" property="resolveDatetime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    PK_ID, EQUIPMENT_ID, NODE_SIGN, IS_EMPOWER, UPLOAD_IP, RYJCXXCJBH, UPLOAD_STATUS, 
    UPLOAD_RESULT_INFO, UPLOAD_DATETIME
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from LEDEN_UPLOAD_LOG
        where PK_ID = #{pkId,jdbcType=VARCHAR}
    </select>

    <select id="selectLedenUploadLogByNewTime" parameterType="string" resultMap="BaseResultMap">
        select rownum,log.* from (select
        <include refid="Base_Column_List"/>
        from LEDEN_UPLOAD_LOG where EQUIPMENT_ID = #{id} order by PK_ID desc) log where rownum = 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from LEDEN_UPLOAD_LOG
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zhouyi.business.core.model.LedenUploadLog">
    insert into LEDEN_UPLOAD_LOG (PK_ID, EQUIPMENT_ID, NODE_SIGN,
      IS_EMPOWER, UPLOAD_IP, RYJCXXCJBH, 
      UPLOAD_STATUS, UPLOAD_RESULT_INFO, UPLOAD_DATETIME
      )
    values (#{pkId,jdbcType=VARCHAR}, #{equipmentId,jdbcType=VARCHAR}, #{nodeSign,jdbcType=VARCHAR}, 
      #{isEmpower,jdbcType=VARCHAR}, #{uploadIp,jdbcType=VARCHAR}, #{ryjcxxcjbh,jdbcType=VARCHAR}, 
      #{uploadStatus,jdbcType=VARCHAR}, #{uploadResultInfo,jdbcType=VARCHAR}, #{uploadDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zhouyi.business.core.model.LedenUploadLog">
        insert into LEDEN_UPLOAD_LOG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkId != null">
                PK_ID,
            </if>
            <if test="equipmentId != null">
                EQUIPMENT_ID,
            </if>
            <if test="nodeSign != null">
                NODE_SIGN,
            </if>
            <if test="isEmpower != null">
                IS_EMPOWER,
            </if>
            <if test="uploadIp != null">
                UPLOAD_IP,
            </if>
            <if test="ryjcxxcjbh != null">
                RYJCXXCJBH,
            </if>
            <if test="uploadStatus != null">
                UPLOAD_STATUS,
            </if>
            <if test="uploadResultInfo != null">
                UPLOAD_RESULT_INFO,
            </if>
            <if test="uploadDatetime != null">
                UPLOAD_DATETIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkId != null">
                #{pkId,jdbcType=VARCHAR},
            </if>
            <if test="equipmentId != null">
                #{equipmentId,jdbcType=VARCHAR},
            </if>
            <if test="nodeSign != null">
                #{nodeSign,jdbcType=VARCHAR},
            </if>
            <if test="isEmpower != null">
                #{isEmpower,jdbcType=VARCHAR},
            </if>
            <if test="uploadIp != null">
                #{uploadIp,jdbcType=VARCHAR},
            </if>
            <if test="ryjcxxcjbh != null">
                #{ryjcxxcjbh,jdbcType=VARCHAR},
            </if>
            <if test="uploadStatus != null">
                #{uploadStatus,jdbcType=VARCHAR},
            </if>
            <if test="uploadResultInfo != null">
                #{uploadResultInfo,jdbcType=VARCHAR},
            </if>
            <if test="uploadDatetime != null">
                #{uploadDatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhouyi.business.core.model.LedenUploadLog">
        update LEDEN_UPLOAD_LOG
        <set>
            <if test="equipmentId != null">
                EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR},
            </if>
            <if test="nodeSign != null">
                NODE_SIGN = #{nodeSign,jdbcType=VARCHAR},
            </if>
            <if test="isEmpower != null">
                IS_EMPOWER = #{isEmpower,jdbcType=VARCHAR},
            </if>
            <if test="uploadIp != null">
                UPLOAD_IP = #{uploadIp,jdbcType=VARCHAR},
            </if>
            <if test="ryjcxxcjbh != null">
                RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
            </if>
            <if test="uploadStatus != null">
                UPLOAD_STATUS = #{uploadStatus,jdbcType=VARCHAR},
            </if>
            <if test="uploadResultInfo != null">
                UPLOAD_RESULT_INFO = #{uploadResultInfo,jdbcType=VARCHAR},
            </if>
            <if test="uploadDatetime != null">
                UPLOAD_DATETIME = #{uploadDatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where PK_ID = #{pkId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhouyi.business.core.model.LedenUploadLog">
    update LEDEN_UPLOAD_LOG
    set EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR},
      NODE_SIGN = #{nodeSign,jdbcType=VARCHAR},
      IS_EMPOWER = #{isEmpower,jdbcType=VARCHAR},
      UPLOAD_IP = #{uploadIp,jdbcType=VARCHAR},
      RYJCXXCJBH = #{ryjcxxcjbh,jdbcType=VARCHAR},
      UPLOAD_STATUS = #{uploadStatus,jdbcType=VARCHAR},
      UPLOAD_RESULT_INFO = #{uploadResultInfo,jdbcType=VARCHAR},
      UPLOAD_DATETIME = #{uploadDatetime,jdbcType=TIMESTAMP}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>


    <insert id="insertUploadLog" parameterType="com.zhouyi.business.core.model.LedenUploadLog">
    insert into leden_upload_log(pk_id,equipment_id,ryjcxxcjbh,upload_status,create_datetime)
    values(
        #{pkId} ,#{equipmentId},#{ryjcxxcjbh},#{uploadStatus},#{createDatetime}
    )
  </insert>


    <sql id="condition_filter_column">
    ryjcxxcjbh,equipment_id,is_get_code
  </sql>

    <resultMap id="listBaseMap" type="com.zhouyi.business.core.model.LedenUploadLog" extends="BaseResultMap">
        <result column="is_get_code" property="isGetCode"/>
    </resultMap>

    <select id="listUploadLogByConditions" resultMap="listBaseMap">
        select * from (
        select ROWNUM as rowno,
        <include refid="condition_filter_column"/>
        from LEDEN_UPLOAD_LOG
        <where>
            and upload_Status in
            <foreach collection="status" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
        order by upload_status,
        create_datetime
        ) where rowno=1
    </select>


    <update id="updateUploadLogByPersonCode">
        update LEDEN_UPLOAD_LOG set upload_status=#{status},upload_result_info=#{resolveInfo}
        where pk_id=#{pkId}
    </update>


    <update id="updateIsGetCodeByPersonCode">
        update leden_upload_log set is_get_code=#{isGetCode} where pk_id=#{pkId}
    </update>



    <select id="getUploadSuccessData" resultType="com.zhouyi.business.core.model.provincecomprehensive.DataStatus">
       select d.* from (
       select p.jzrybh rybh,pk_Id pkId,ROWNUM r from leden_upload_log
       left join leden_collect_person p on leden_upload_log.ryjcxxcjbh=p.ryjcxxcjbh
        where upload_status='4'
        order by resolve_datetime desc
       ) d where r=1
    </select>


    <update id="updateResolveByPkId">
        update leden_upload_log set resolve_datetime=#{resolveDatetime} where pk_id=#{pkId}
    </update>

    <resultMap id="selectAllMap" type="com.zhouyi.business.core.model.LedenUploadLogResult" extends="BaseResultMap">
        <id column="PK_ID" property="pkId" jdbcType="VARCHAR"/>
        <result column="EQUIPMENT_ID" property="equipmentId" jdbcType="VARCHAR"/>
        <result column="NODE_SIGN" property="nodeSign" jdbcType="VARCHAR"/>
        <result column="IS_EMPOWER" property="isEmpower" jdbcType="VARCHAR"/>
        <result column="UPLOAD_IP" property="uploadIp" jdbcType="VARCHAR"/>
        <result column="UPLOAD_STATUS" property="uploadStatus" jdbcType="VARCHAR"/>
        <result column="UPLOAD_RESULT_INFO" property="uploadResultInfo" jdbcType="VARCHAR"/>
        <result column="UPLOAD_DATETIME" property="uploadDatetime" jdbcType="TIMESTAMP"/>
        <result column="RESOVLE_DATETIME" property="resolveDatetime" jdbcType="TIMESTAMP"/>

        <result column="RYJCXXCJBH" property="ryjcxxcjbh" jdbcType="VARCHAR"/>
        <result column="JZRYBH" property="jzrybh" jdbcType="VARCHAR"/>
        <result column="CJXXYYDM" property="cjxxyydm" jdbcType="VARCHAR"/>
        <result column="XM" property="xm" jdbcType="VARCHAR"/>
        <result column="XMHYPY" property="xmhypy" jdbcType="VARCHAR"/>
        <result column="GMSFHM" property="gmsfhm" jdbcType="VARCHAR"/>
        <result column="CYZJDM" property="cyzjdm" jdbcType="VARCHAR"/>
        <result column="ZJHM" property="zjhm" jdbcType="VARCHAR"/>
        <result column="XBDM" property="xbdm" jdbcType="VARCHAR"/>
        <result column="CSRQ" property="csrq" jdbcType="TIMESTAMP"/>
        <result column="CYM" property="cym" jdbcType="VARCHAR"/>
        <result column="WWXM" property="wwxm" jdbcType="VARCHAR"/>
        <result column="BMCH" property="bmch" jdbcType="VARCHAR"/>
        <result column="GJDM" property="gjdm" jdbcType="VARCHAR"/>
        <result column="MZDM" property="mzdm" jdbcType="VARCHAR"/>
        <result column="JGSSXDM" property="jgssxdm" jdbcType="VARCHAR"/>
        <result column="CSDSSXDM" property="csdssxdm" jdbcType="VARCHAR"/>
        <result column="CSDXZ" property="csdxz" jdbcType="VARCHAR"/>
        <result column="HJDSSXDM" property="hjdssxdm" jdbcType="VARCHAR"/>
        <result column="HJDXZ" property="hjdxz" jdbcType="VARCHAR"/>
        <result column="ZZMMDM" property="zzmmdm" jdbcType="VARCHAR"/>
        <result column="HYZKDM" property="hyzkdm" jdbcType="VARCHAR"/>
        <result column="XLDM" property="xldm" jdbcType="VARCHAR"/>
        <result column="GRSFDM" property="grsfdm" jdbcType="VARCHAR"/>
        <result column="RYLBDM" property="rylbdm" jdbcType="VARCHAR"/>
        <result column="XZDQHDM" property="xzdqhdm" jdbcType="VARCHAR"/>
        <result column="XZDXZ" property="xzdxz" jdbcType="VARCHAR"/>
        <result column="AJLBDM" property="ajlbdm" jdbcType="VARCHAR"/>
        <result column="CJRXM" property="cjrxm" jdbcType="VARCHAR"/>
        <result column="CJDWDM" property="cjdwdm" jdbcType="VARCHAR"/>
        <result column="CJDWMC" property="cjdwmc" jdbcType="VARCHAR"/>
        <result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP"/>
        <result column="TSSFDM" property="tssfdm" jdbcType="VARCHAR"/>
        <result column="ZJXYDM" property="zjxydm" jdbcType="VARCHAR"/>
        <result column="COLLECT_CATEGORY_ID" property="collectCategoryId" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="SCHEDULE" property="schedule" jdbcType="VARCHAR"/>
        <result column="TASK_ID" property="taskId" jdbcType="VARCHAR"/>
        <result column="EQUIPMENT_CODE" property="equipmentCode" jdbcType="VARCHAR"/>
        <result column="DELETAG" property="deletag" jdbcType="VARCHAR"/>
        <result column="ANNEX" property="annex" jdbcType="VARCHAR"/>
        <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR"/>
        <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectList" parameterType="com.zhouyi.business.core.model.LedenUploadLogRequest" resultMap="selectAllMap">
        select * from
        (select rownum rn,m.* from
        (select t.PK_ID,t.EQUIPMENT_ID,t.NODE_SIGN,t.IS_EMPOWER,t.UPLOAD_IP,t.UPLOAD_STATUS,t.UPLOAD_RESULT_INFO,t.UPLOAD_DATETIME,p.*
          from LEDEN_UPLOAD_LOG t left join LEDEN_COLLECT_PERSON p on t.ryjcxxcjbh = p.ryjcxxcjbh
            <where>
                <if test="ryjcxxcjbh != null and ryjcxxcjbh != ''">
                    and t.RYJCXXCJBH = #{ryjcxxcjbh}
                </if>
                <if test="jzrybh != null and jzrybh != ''">
                    and p.JZRYBH = #{jzrybh}
                </if>
                <if test="cjdwdm != null and cjdwdm != ''">
                    and p.CJDWDM = #{cjdwdm}
                </if>
                <if test="uploadStatus != null and uploadStatus != ''">
                    and t.UPLOAD_STATUS = #{uploadStatus}
                </if>
                <if test="startDate != null">
                    and t.UPLOAD_DATETIME &gt;= #{startDate}
                </if>
                <if test="endDate != null">
                    and t.UPLOAD_DATETIME &lt;= #{endDate}
                </if>
            </where>
            order by t.UPLOAD_DATETIME desc ) m) mm
        where rn &gt;= (#{page} -1) * #{size} + 1 and rn &lt; #{page} * #{size} + 1
    </select>

    <select id="selectListCount" parameterType="com.zhouyi.business.core.model.LedenUploadLogRequest" resultType="int">
        select count(*)
        from LEDEN_UPLOAD_LOG t left join LEDEN_COLLECT_PERSON p on t.ryjcxxcjbh = p.ryjcxxcjbh
        <where>
            <if test="ryjcxxcjbh != null and ryjcxxcjbh != ''">
                and t.RYJCXXCJBH = #{ryjcxxcjbh}
            </if>
            <if test="jzrybh != null and jzrybh != ''">
                and p.JZRYBH = #{jzrybh}
            </if>
            <if test="cjdwdm != null and cjdwdm != ''">
                and p.CJDWDM = #{cjdwdm}
            </if>
            <if test="uploadStatus != null and uploadStatus != ''">
                and t.UPLOAD_STATUS = #{uploadStatus}
            </if>
            <if test="startDate != null">
                and t.UPLOAD_DATETIME &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                and t.UPLOAD_DATETIME &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="findOne" resultMap="selectAllMap">
        select t.PK_ID,t.EQUIPMENT_ID,t.NODE_SIGN,t.IS_EMPOWER,t.UPLOAD_IP,t.UPLOAD_STATUS,t.UPLOAD_RESULT_INFO,t.UPLOAD_DATETIME,p.*
        from LEDEN_UPLOAD_LOG t left join LEDEN_COLLECT_PERSON p on t.ryjcxxcjbh = p.ryjcxxcjbh where t.PK_ID = #{pkId}
    </select>

</mapper>