<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyi.business.core.dao.PersonAccInfoMapper">
	<resultMap id="BaseResultMap" type="com.zhouyi.business.core.model.PersonAccInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="acc_no" property="accNo" jdbcType="VARCHAR" />
		<result column="ava_balance" property="avaBalance" jdbcType="DECIMAL" />
		<result column="freeze_balance" property="freezeBalance" jdbcType="DECIMAL" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
	</resultMap>
	
	<sql id="BaseTable">
		zy_person_acc_info
	</sql>
	
	<update id="addAvaBalance" statementType="PREPARED" parameterType="java.util.Map">
		UPDATE zy_person_acc_info SET
		
		ava_balance = ava_balance + #{totalBalance},
		update_time=now()
		
		WHERE acc_no = #{accNo}
	</update>
	
	<update id="subAvaBalance" statementType="PREPARED" parameterType="java.util.Map">
		UPDATE zy_person_acc_info SET
		
		ava_balance = ava_balance - #{totalBalance},
		update_time=now()
		
		WHERE acc_no = #{accNo}
	</update>
	
	<select id="getSubaccByUserId" statementType="PREPARED" resultMap="BaseResultMap">
		select * from zy_person_acc_info where user_id=#{userId} for update
	</select>
</mapper>
