<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouyi.business.core.dao.UserCardMapper">
	<resultMap id="BaseResultMap" type="com.zhouyi.business.core.model.UserCardInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="total_num" property="totalNum" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="un_lock" property="unLock" jdbcType="INTEGER" />
		<result column="used_num" property="usedNum" jdbcType="INTEGER" />
	</resultMap>

	
	<sql id="BaseTable">
		zy_user_card_info
	</sql>

	<update id="addUserCard" statementType="PREPARED">
        update zy_user_card_info set total_num = ifnull(total_num,0)+#{num}, update_time = now() where user_id = #{userId}
    </update>
    
    <update id="unlockUserCard" statementType="PREPARED">
        update zy_user_card_info set un_lock=1, update_time = now() where user_id = #{userId}
    </update>
    
    <update id="reduceUserCard" statementType="PREPARED">
        update zy_user_card_info set used_num=ifnull(used_num,0)+1, update_time = now() where user_id = #{userId} and total_num>used_num
    </update>
    
    <select id="getUserCardByUserId" statementType="PREPARED" resultMap="BaseResultMap">
		select * from zy_user_card_info where user_id=#{userId}
	</select>
</mapper>
